/* Flexbox */
header {
    font: 'Lexend Deca';
    text-align: center;
    margin: 10px 10px 0px 5px;
    padding: 5px;
}

body {
    margin: 0px;
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

@font-face {
    font-family: 'Lexend Deca', 'Big Shoulder Display';
    @import src url(https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap);
    font-weight: 400, 700;
    font-size: 15px
}

@media screen and (max-width: 375px) {
    .container {
        flex-direction: column;
    }
}

a {
    text-decoration-line: none;
    color: orange;
}

#gridbut {
    text-decoration-line: none;
    background-color: hsl(184, 100%, 22%);
    color: orange;
    width: 100px;
    margin: 0px;
}

img {
    float: left;
    margin: 45px;
    padding-right: 50%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 50px;
    box-sizing: border-box;
}

.divsedan {
    background-color: hsl(31, 77%, 52%);
    width: 305px;
    height: 470px;
    line-height: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.divsuv {
    background-color: hsl(184, 100%, 22%);
    width: 305px;
    height: 470px;
    line-height: 25px;
}

.divluxury {
    background-color: hsl(179, 100%, 13%);
    width: 305px;
    height: 470px;
    line-height: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    margin: 0px 0px 0px 20px;
    padding: 20px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 15px;
    margin: 0px 0px 0px 20px;
    padding: 20px;
}

button {
    border-radius: 30px;
    border-style: none;
    text-align: center;
    font-family: 'Lexend Deca';
    width: 150px;
    height: 40px;
    margin: 40px 0px 40px 45px;
    cursor: pointer;
}

#but1 {
    color: hsl(31, 77%, 52%);
}

#but2 {
    color: hsl(184, 100%, 22%);
}

#but3 {
    color: hsl(179, 100%, 13%);
}

#but1:hover {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}

#but2:hover {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}

#but3:hover {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}

/*Grid Layout*/
.grid {
    margin: 15px 0px 0px 120px;
    display: grid;
    grid-template-areas:
        'a a b'
        'c d d'
        'c e e';
    gap: 15px;
    width: 880px;
    height: 615px;
}

.TL {
    background-color: rgb(255, 94, 0);
    grid-area: a;
    width: 550px;
    height: 280px;
}

.TR {
    background-color: rgb(226, 144, 20);
    grid-area: b;
    width: 315px;
    height: 280px;
}

.BL {
    background-color: rgb(70, 187, 70);
    grid-area: c;
    width: 405px;
    height: 320px;
}

.BR1 {
    background-color: rgb(12, 145, 234);
    grid-area: d;
    width: 460px;
    height: 150px;
    margin-bottom: 0px;
}

.BR2 {
    background-color: rgb(12, 145, 234);
    grid-area: e;
    width: 460px;
    height: 150px;
}

@media screen and (max-width: 376px) {
    .grid {
        grid-template-areas:
            'a'
            'b'
            'c'
            'd'
            'e';
    }
}